{{> header}}
<main class="container container-fluid mt-5"></main>
    {{#if loggedIn}}
    <div>
        <a href="/create" class="btn">Create new Post</a>
    </div>
    <div>
        {{#if arePosts}}
        {{#each posts as |post|}}
        <h3>{{post.title}}</h3>
        <p>{{post.text}}</p>
        <p>{{post.date}}</p>
        <a href="/edit/{{post.id}}">edit post</a>

        {{/each}}
        {{/if}}
    </div>
    {{/if}}
</main>
<footer>
    
</footer>

<script>var siteUrl1 = {{url}}</script>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}